<div class="container mt-5">
    <h2 class="text-center mb-5">Todo</h2>
    <div class="row ">
        <input type="text" class="form-control col-5 m-2" [(ngModel)]="newTask" placeholder="Add New Task">
        <input type="text" class="form-control col-5 m-2" [(ngModel)]="description" placeholder="Add Task Description">
        <button (click)="insertData()" class="btn-danger m-2 col-2 form-control">Add</button>  
    </div> 
        <ul>

        <div *ngFor="let item of items; let index=index" class="row" >
            <li *ngIf="!item.isEditing" class="col-5 m-2">{{ item.task }}- {{ item.description }}</li>
            <input *ngIf="item.isEditing" [(ngModel)]="item.task" class="form-control col-5 m-2">
            <input *ngIf="item.isEditing" [(ngModel)]="item.description" class="form-control col-5 m-2">

             <button *ngIf="!item.isEditing" (click)="editTask(index)" class="btn-danger m-2 col-2 form-control">Edit</button>
             <button (click)="deleteData(item.id)" class="btn-danger m-2 col-2 form-control">Delete</button>
             <button *ngIf="item.isEditing" (click)="saveEdit(index)" class="btn-success m-2 col-2">Save</button>

        </div>
    </ul>
                                         
</div> 


